---
import type ButtonProps  from './types';

type Props = ButtonProps;

const { url=Astro.request.url, title } = Astro.props;
let text = ''

if (title) text = encodeURIComponent(title)
if (url) text += ` ${encodeURIComponent(url)}`

let URL = `https://bsky.app/intent/compose`

if (text) URL += `?text=${text}`

---
<a class="social-share-btn" target="_blank" href={URL} rel="noopener noreferrer">
  <slot>
    <style>
      svg:hover {
        fill:#0085ff;
      }
    </style>
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Bluesky</title><path  d="M 5.2023734,1.6152412 C 7.9537499,3.9616152 10.913635,8.7184672 12,11.271162 v 6.742376 c 0,-0.14349 -0.04877,0.01868 -0.153745,0.368067 -0.567006,1.891703 -2.7817555,9.274694 -7.8461296,3.372462 C 1.3335,18.646512 2.568,15.538957 7.422,14.600747 4.6451256,15.137352 1.52325,14.25051 0.66675,10.773614 0.42,9.7734228 0,3.6126521 0,2.7805744 0,-1.3874552 3.2171249,-0.0773575 5.2023734,1.6152412 Z m 13.5952616,0 C 16.046255,3.9616152 13.086365,8.7184672 12,11.271162 v 6.742376 c 0,-0.14349 0.04877,0.01868 0.153745,0.368067 0.567006,1.891703 2.781755,9.274694 7.846125,3.372462 2.66663,-3.107555 1.43213,-6.21511 -3.42187,-7.15332 2.776876,0.536605 5.898751,-0.350237 6.755249,-3.827133 C 23.58,9.7734228 24,3.6126521 24,2.7805744 24,-1.3874552 20.783249,-0.0773575 18.797635,1.6152412 Z"></path>    </svg> 
  </slot>
</a>