---
import EmailShareButton from "./Email.astro";
import FacebookShareButton from "./Facebook.astro";
import HackerNewsShareButton from "./HackerNews.astro";
import LinkedInShareButton from "./LinkedIn.astro";
import MediumShareButton from "./Medium.astro";
import RedditShareButton from "./Reddit.astro";
import TwitterShareButton from './Twitter.astro';
import WhatsAppShareButton from './Whatsapp.astro';
import type ButtonProps  from './types';

interface Props extends ButtonProps {
  buttons?: Object[];
}

const DEFAULT_COMPONENTS = [TwitterShareButton, FacebookShareButton, HackerNewsShareButton, LinkedInShareButton, RedditShareButton, EmailShareButton, WhatsAppShareButton, MediumShareButton];

const { buttons=DEFAULT_COMPONENTS, url=Astro.request.url, title, description, via} = Astro.props;

---
<slot name='astro-social-share-css'>
    <style is:global>
        .astro-social-share {
            margin: 20px 0px;
            height: 24px;
            display: inline-flex;
        } 
        .astro-social-share a {
            text-decoration: none;
            margin-right: 10px;
        }
        .astro-social-share svg {
            height: 24px;
        }
    </style>
</slot>
<div class="astro-social-share">
    {buttons.map((Button) => <Button url={url} description={description} via={via} title={title} />)}
</div>
