---
import EmailShareButton from "./Email.astro";
import FacebookShareButton from "./Facebook.astro";
import HackerNewsShareButton from "./HackerNews.astro";
import LinkedInShareButton from "./LinkedIn.astro";
import RedditShareButton from "./Reddit.astro";
import TwitterShareButton from './Twitter.astro';
import WhatsAppShareButton from './Whatsapp.astro';
import type ButtonProps  from './types';

interface Props extends ButtonProps {
  buttons?: Object[];
}

const DEFAULT_COMPONENTS = [TwitterShareButton, FacebookShareButton, HackerNewsShareButton, LinkedInShareButton, RedditShareButton, EmailShareButton, WhatsAppShareButton];

const { buttons=DEFAULT_COMPONENTS, url=Astro.request.url, title, description, via} = Astro.props;

---
<style>
    div {
        margin: 20px 0px;
    }
</style>
<div class="astro-social-share">
    {buttons.map((Button) => <Button url={url} description={description} via={via} title={title} />)}
</div>
