---
import type ButtonProps  from './types';

type Props = ButtonProps;

const { url=Astro.request.url, description, via} = Astro.props;

let URL = `https://threads.net/intent/post?url=${url}`

if (description) URL += `&text=${description}`

---
<a class="social-share-btn" target="_blank" href={URL} rel="noopener noreferrer">
  <slot>
    <style>
      svg:hover {
        fill: #000000;
      }
    </style>
    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Threads</title><path d="m17.692 11.124a8.3334 8.3334 0 0 0-0.31475-0.14288c-0.18525-3.4134-2.0504-5.3675-5.1821-5.3875h-0.0425c-1.8732 0-3.4311 0.7995-4.39 2.2545l1.7224 1.1815c0.71625-1.0869 1.8405-1.3185 2.6685-1.3185h0.02862c1.0311 0.00662 1.8092 0.3065 2.3129 0.89112 0.3665 0.42562 0.61162 1.0139 0.733 1.7562-0.91425-0.15538-1.903-0.20325-2.96-0.1425-2.9775 0.17138-4.8918 1.908-4.7631 4.321 0.06525 1.224 0.675 2.277 1.7169 2.9649 0.88088 0.5815 2.0155 0.86588 3.1946 0.8015 1.5572-0.08537 2.7789-0.6795 3.6311-1.7659 0.64725-0.825 1.0566-1.8941 1.2374-3.2412 0.74212 0.44788 1.2921 1.0372 1.5959 1.7458 0.5165 1.2044 0.54662 3.1835-1.0682 4.797-1.4149 1.4135-3.1156 2.025-5.686 2.0439-2.8511-0.02113-5.0075-0.9355-6.4094-2.7178-1.3127-1.6689-1.9912-4.0794-2.0166-7.1646 0.025375-3.0852 0.70375-5.4958 2.0166-7.1646 1.402-1.7822 3.5582-2.6966 6.4094-2.7179 2.8719 0.02125 5.0658 0.94 6.5214 2.7309 0.71375 0.87825 1.2519 1.9825 1.6066 3.2702l2.0184-0.5385c-0.43-1.585-1.1066-2.9508-2.0274-4.0835-1.8661-2.2958-4.5954-3.4722-8.1119-3.4966h-0.01412c-3.5094 0.02425-6.2081 1.2052-8.0211 3.51-1.6132 2.0506-2.4455 4.9044-2.4734 8.4815l-1.25e-4 0.0085v0.0084c0.028 3.5771 0.86025 6.4309 2.4735 8.4818 1.813 2.3046 4.5118 3.4856 8.0211 3.5099h0.01412c3.12-0.02163 5.3192-0.8385 7.131-2.6486 2.3704-2.3681 2.299-5.3365 1.5178-7.1588-0.5605-1.3068-1.6291-2.3682-3.0904-3.0692zm-5.3871 5.0649c-1.305 0.0735-2.6608-0.51225-2.7275-1.7669-0.04962-0.93025 0.662-1.9682 2.8076-2.0919 0.24575-0.01425 0.48688-0.02112 0.72375-0.02112 0.77938 0 1.5085 0.07575 2.1714 0.22062-0.24725 3.0878-1.6975 3.5891-2.9752 3.6592z"/></svg>
  </slot>
</a>