---
import type ButtonProps from "./types";

type Props = ButtonProps;

const { url = Astro.request.url, description, via } = Astro.props;

let URL = `whatsapp://send?text=`;

if (description) URL += `${description} `;
URL += `${url}`;
---

<style>
  a {
    margin-right: 10px;
  }
</style>
<a
  class="social-share-btn"
  target="_blank"
  href={encodeURI(URL)}
  rel="noopener noreferrer"
  data-action="share/whatsapp/share"
>
  <slot>
    <style>
      svg:hover {
        fill: #000000;
      }
    </style>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        fill="currentColor"
        d="M20.557 3.443c-2.007-2.007-4.674-3.11-7.493-3.11-5.884 0-10.664 4.781-10.664 10.664 0 1.831.457 3.597 1.32 5.177l-1.423 5.206 5.429-1.406c1.526.827 3.25 1.261 5.036 1.261 5.884 0 10.664-4.78 10.664-10.664-.001-2.819-1.104-5.486-3.11-7.493zm-1.414 12.435c-1.206.623-2.711.957-4.243.957-3.881 0-7.038-3.157-7.038-7.038 0-1.496.466-2.905 1.342-4.091l.219-.262-1.231-3.834 3.834 1.231.254-.201c1.195-.946 2.638-1.454 4.144-1.454 3.882 0 7.039 3.157 7.039 7.039 0 1.506-.461 2.916-1.328 4.098l-.219.262 1.231 3.834-3.833-1.231-.263.219z"
      ></path>
    </svg>
  </slot>
</a>
